<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700|Playfair+Display:700i" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet"> 

<link href="https://fonts.googleapis.com/css?family=Kalam:300,400" rel="stylesheet">