<!-- This include is used on the blog page and also on the 
related content page ... but its rendering crazy on the related content page
 -->
<article>
    <a href="{{ post.url }}">
    <div class="card">
        {% if post.feature_img %}
        <img src="{{ post.feature_img }}" alt="{{ post.feature_alt }}">
        <h3 class="hidden">
        {{ post.title | markdownify | strip_html }}
        </h3>
        {% else %}
        <div class="card__bkg">
            <span> 
            <h3 class="card-title">{{ post.title | markdownify | strip_html | truncate: 200 }}</h3>    
            </span>
        </div>
        {% endif %}
        <!-- <div>{{ post.category }}</div> -->
        <div class="card-excerpt">
            <p>{{ post.excerpt | truncate: 200 }} </p>
        </div>
    </div>
  </a>
</article>

