<!-- This include is used on the blog page and also on the 
related content page ... but its rendering crazy on the related content page
 -->
<article>
  {% assign link = include.url | default: post.url %}
  {% if link %}<a href="{{ include.url | default: post.url }}">{% endif %}
    <div class="card">
      {% assign img = include.image_path | default: post.feature_img %}
      {% if img %}
        <img src="{{ img }}" alt="{{ include.alt | default: post.feature_alt }}">
        <h3 class="hidden">{{ include.title | default: post.title | markdownify | strip_html }}</h3>
      {% else %}
        <div class="card__bkg">
          <span>
            <h3 class="card-title">{{ include.title | default: post.title | markdownify | strip_html }}</h3>
          </span>
        </div>
      {% endif %}
      <div class="card-excerpt">
        <p>{{ include.excerpt | default: post.excerpt | markdownify }}</p>
      </div>
    </div>
  {% if link %}</a>{% endif %}
</article>

