<h3> Other articles that you might enjoy...</h3>


{% if page.id and page.related and site.categories[page.category].size > 0 %}
<div>
    <div class="card-wrapper">
    {% for post in site.categories[page.category] limit:3 %}
        {% include archive-cards.html %}
    {% endfor %}
    </div>
</div>
{% else %}
<!-- If there are no related posts, post most recent still including that current page-->
<div>
    <div class="card-wrapper">
    {% for post in site.posts limit:3 %}
        {% include archive-cards.html %}
    {% endfor %}
    </div>
</div>
{% endif %}