<!-- Might want to create a h2 and h3 class styles in main.scss for this too -->
<section class="resume-cards max-w-7xl mx-auto px-6 py-20" style="color: var(--site-text);">

  <h2 class="text-3xl md:text-4xl font-bold mb-2">~15 Years of Building Inclusive Open Science Programs</h2>
  <p class="text-2xl mb-8">Thousands of researchers trained • Hundreds of open lessons built • Hundreds of package maintainers supported</p>

  <div class="grid grid-cols-5 grid-rows-3 gap-6">
    <!-- Left card - pyOpenSci 3 cols wide-->
    <div class="col-span-3 row-span-3 group bg-teal-50 border border-teal-200 rounded-lg p-8 flex flex-col justify-center transition-colors duration-200 ease-in-out shadow-sm hover:bg-teal-600 hover:border-teal-600 hover:shadow-lg">
      <h3 class="text-2xl md:text-3xl font-bold group-hover:text-white mb-4">I Build Inclusive Programs That Build Capacity for better, open science</h3>
      <ul>
        <li>Founded pyOpenSci — Executive Director (full-time since 2022)</li>
        <li>Earth Analytics Education Program, CU Boulder: Director (designed & built entire program)</li>
        <li>Earth Data Analytics Professional Program, CU Boulder (proposed, designed, stood up program & developed and taught courses)</li>
        <li>NEON Data Skills Program - Built national education initiative</li>
        <li>Earth Data Science Corps: Proposed, Funded and Built a program to increase data science teaching capacity at tribal and Hispanic-serving colleges</li>
      </ul>
    </div>

    <!-- Right card - CV ish (match height of left card) -->
    <div class="col-span-2 row-span-3 group bg-teal-50 border border-teal-200 rounded-lg p-8 flex flex-col justify-top transition-colors duration-200 ease-in-out shadow-sm hover:bg-teal-600 hover:border-teal-600 hover:shadow-lg h-full">
      <h3 class="text-1xl md:text-2xl font-bold group-hover:text-white mb-4">Education & Award Highlights</h3>
      <ul>
        <li>Fellow: Python Software Foundation (2025)</li>
        <li>PhD in Ecology, Penn State</li>
      </ul>
      <h3 class="text-xl font-bold group-hover:text-white mt-4">Recent Talks</h3>
      <ul>
        <li><a href="https://youtu.be/uCLlshkTBM0?si=MxSe5i_lxIEI46-W">SciPy 2024</a> </li>
        <li><a href="https://youtu.be/oA6-f7PtTQ4?si=p5qLkhiAlNyRLk6Y">PyCon US 2024</a></li>
        <li>About pyOpenSci: CURIOSS</li>
      </ul>
    </div>
  </div>

</section>
