---
# Only the main Sass file needs front matter (the dashes are enough)
---


$gray: #4F0845 !default;
h1, h2, h3 {color: #4F0845;
            font-family: 'Nanum Gothic', sans-serif!important;
}

body, p {
  font-family: 'Open Sans', sans-serif!important;
}

body {font-size:90%}

div.notice--warning {
  padding: 1.9em 2.3em !important
}

.notice--warning p, .notice--primary p {
  font-size: 1.1em!important;
}

.notice--primary h2, .notice--warning h2 {
    font-size: 2em!important;
    margin: 1em 0 0.5em!important
}

.notice--primary h2.archive__item-title {
  font-size: 1.4em!important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
