<section class="resume-cards">

  <h2 class="card__title">What I've Built</h2>
  <p>Thousands of researchers trained • Hundreds of open lessons built • Hundreds of package maintainers supported</p>

  <div>
    <!-- Left card - Programs -->
      <article class="bg-teal-50 border border-teal-200 p-8 shadow-lg">
      <h3 class="card__title">Program Design, Creation & Leadership </h3>
      <h4>15+ years building national and global open science programs across research, education, and community infrastructure</h4>
      <ul class="space-y-3">
        <li><strong>pyOpenSci:</strong> Founder & Executive Director</li>
        <li><strong>Earth Data Analytics Professional Program, CU Boulder:</strong></li>
        <li><strong>NEON Data Skills Program: </strong> A national program to help ecologist use large and diverse time series data.</li>
        <li><strong>Earth Data Science Corps:</strong> Program to increase data science teaching capacity at tribal colleges</li>
      </ul>

      <h4>20+ years experience developing accessible education content and programs</h2>

      <h3 class="card__title">Education & Awards</h3>
      <ul class="space-y-3">
        <li>Fellow: Python Software Foundation (2025)</li>
        <li>PhD in Ecology, Penn State</li>
        <li>Creator: 300+ open science lessons & workshops</li>
      </ul>
      
      <h3 class="card__title mt-6">Recent Talks</h3>
      <div class="card__body">
      <ul class="prose prose-sm space-y-2">
        <li><a href="https://youtu.be/uCLlshkTBM0?si=MxSe5i_lxIEI46-W" class="text-teal-700 hover:text-teal-900 underline">SciPy 2024</a></li>
        <li><a href="https://youtu.be/oA6-f7PtTQ4?si=p5qLkhiAlNyRLk6Y" class="text-teal-700 hover:text-teal-900 underline">PyCon US 2024</a></li>
        <li><a href="#" class="text-teal-700 hover:text-teal-900 underline">About pyOpenSci: CURIOSS</a></li>
      </ul>
      </div>
    </article>
  </div>

</section>